.vedio{
    height: 100%;
    width: 100%;
    /*overflow: scroll; */
    scroll-snap-type: start;
    background-color: white;
}

.vedio_player{
    height: 100%;
    width: 100%;
    object-fit: fill;
    background-color: red;
}